.range-field {
  position: absolute;
  width: 10%;
  bottom: 7%;
  left: 5%;
}

.pointer {
  position: absolute;
  bottom: 2%;
  left: 5%;
  height: 7%;
  animation: fingerDrag 4s ease-in infinite alternate;
}

@-webkit-keyframes fingerDrag {
    0%   {left:5%;}
    100% {left:10%;}
}
